.vscode/
data/*
!data/03_processed/
!data/03_processed/**
data/03_processed/_archive/
data/03_processed/_archive/**
trash/
notebooks/_archive/
scripts/chris_code/
environment.yml
config.yaml
src/hcpt/
src/mpat/
notebooks/.ipynb_checkpoints/
